@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  background-color: cadetblue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}
header a {
  color: coral;
  letter-spacing: 3px;
}
header .mid {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
@media (max-width: 768px) {
  header .mid {
    display: none;
  }
}
header .mid ul {
  display: flex;
  gap: 1rem;
}
header .mid ul li {
  cursor: pointer;
}
header .mid .input-group {
  display: flex;
  align-items: center;
}
header .mid .input-group input {
  padding: 0.5rem;
  border-radius: 0.2rem;
}
header .mid .input-group input:focus {
  width: 20rem;
}
header .mid .input-group img {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: -2rem;
}
header .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .buttons button {
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.shopping-cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  right: -27.5rem;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(220, 220, 220, 0.9);
  width: 31rem;
}
.shopping-cart .fa-angles-left, .shopping-cart .fa-angles-right {
  position: absolute;
  left: -1rem;
  height: 100%;
  background-color: orange;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
}
.shopping-cart .fa-cart-shopping {
  position: absolute;
  left: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
}
.shopping-cart #items-count {
  position: absolute;
  left: 2.2rem;
  display: flex;
  align-items: center;
  top: 46%;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: tomato;
  font-size: 0.5rem;
}
.shopping-cart #cart-item-box {
  margin-top: 1rem;
  overflow: auto;
}
.shopping-cart #cart-item-box .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  margin: 2rem 2rem 1rem 4rem;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow: 0 0 0.5rem black;
}
.shopping-cart #cart-item-box .cart-item .item-img {
  width: 1.8rem;
}
.shopping-cart #cart-item-box .cart-item input {
  width: 2rem;
  height: 100%;
  text-align: center;
}
.shopping-cart #total {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.shopping-cart #total label {
  font-size: 1.3rem;
}
.shopping-cart #total input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  color: green;
}
.shopping-cart #cart-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .shopping-cart #cart-buttons {
    gap: 0;
    justify-content: center;
  }
}
.shopping-cart #cart-buttons button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s all;
}
@media (max-width: 768px) {
  .shopping-cart #cart-buttons button {
    scale: 0.5;
  }
}
.shopping-cart #cart-buttons button:first-child:hover {
  background-color: tomato;
  color: white;
  transition: 0.5s all;
}
.shopping-cart #cart-buttons button:last-child:hover {
  background-color: darkseagreen;
  color: white;
  transition: 0.5s all;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 3% 7%;
}
.main-container marquee {
  width: 50%;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .main-container marquee {
    margin-top: 4rem;
  }
}
.main-container .card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12rem);
  gap: 1.5rem;
}

#categories .category-card {
  position: relative;
  cursor: pointer;
}
#categories .category-card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
#categories .category-card .layer {
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  background-color: rgba(128, 128, 128, 0.432);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  color: white;
  display: none;
}
#categories .category-card:hover .layer {
  display: grid;
}

.product-card {
  background-color: azure;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 0 0.5rem cadetblue;
}
.product-card img {
  width: 100%;
  height: 80%;
  border-radius: 1rem;
  cursor: zoom-in;
}
.product-card h5 {
  margin: 0.5rem 1rem;
  font-weight: 400;
}
.product-card .product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}
.product-card .product-info .add-to-cart {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: cadetblue;
  color: white;
}

.show-cart {
  right: 0 !important;
}

@media (max-width: 768px) {
  :root {
    font-size: 50%;
  }
}/*# sourceMappingURL=main.css.map */